@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Passion Project - Wafa M</h1>
    <p class="lead">I've create an expense manager that will keep track of your expenses by categories.</p>
    <p class="lead"></p>
    <p><a href="https://github.com/wafamustafa/PassionProject_Wafam" class="btn btn-primary btn-lg">Git Hub Repo</a></p>
</div>
